/*index*/
#github{
	position: absolute;
	right: 5px;
	bottom: 0;
}
.navbar-brand{
	margin-top: -15px;
}
.nav li:hover{
	background-color: #e7e7e7;
}
#headpic{
	background-color: #eee; 
	border: none;
	position: relative;
}
#abstract{
	width: 362px;
	height: 123px;
	position: absolute;
	left: 50%;
	bottom: 0;
	padding: 10px 10px 30px 10px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.5) 75%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(75%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
#abstract h6{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 12px;
	text-align: right;
}
#abstract p{
	font-size: 12px;
	text-indent: 2em;
	line-height: 150%;
}
.des{
	margin: 10px auto;
	box-shadow: 2px 2px 3px #ccc;
}
.caption p{
	font-size: 9px;
	margin-bottom: 5px;
	text-indent: 2em;
	text-align: left;
}
.author{
	text-align: center;
}
.author-img{
	width: 290px;
	height: 290px;
	border-radius: 50%;
	background-color: #fff;
	margin-top: -50px;
	margin-bottom: 50px;
}
.author-des p{
	text-align: left;
	text-indent: 2em;
}
#footer{
	background-color: #000;
	text-align: center;
}
.footernav{
	width: 100%;
	border-bottom: 1px solid #fff;
}
.footernav li:hover a{
	background-color: #000;
}
#navbar-nav{
	width: 400px;
	margin: 0  auto;
}
#link{
	clear: both;
}
#link h2{
	font-size: 18px;
	text-indent: 2em;
}
#link ul,li{
	list-style: none;
}
#link li>li:hover,a:hover{
	color: #fff;
}
/*article*/
.article{
	background-color: #eee;
	margin: 50px 0 0 0;
	padding: 50px 0;
}
.items{
	background-color: #fff;
	position: relative;
	padding: 10px;
	margin: 0 0 20px 20px;
	box-shadow: 2px 2px 3px #ccc;
}
.items h1{
	font-size: 22px;
	font-weight: bold;
	color: red;
}
.items h2{
	font-size: 18px;
	font-weight: bold;
	color: blue;
}
#iterms-date{
	position:absolute;
	width: 40px;
	height: 30px;
	left: -40px;
	top: 20px;
	background-color: pink;
	color: #fff;
	text-align: center;
	line-height: 30px;
}
#iterms-type{
	position:absolute;
	width: 40px;
	height: 30px;
	left: -40px;
	top: 50px;
	background-color: orange;
	color: #fff;
	text-align: center;
	line-height: 30px;
}
#iterms-issue{
	color: #ccc;
	font-size: 12px;
	position: absolute;
	right: 10px;
	bottom: 5px;
}
.items p{
	text-indent: 2em;
}
.pagenav{
	margin: 40px;
}
.form-control{
	background: url("../imgs/search.png");
	background-repeat:  no-repeat;
	background-color: #fff;
	background-size: 145px 34px;
}
.list-group{
	clear: both;
	background-color: blue;
	box-shadow: 2px 2px 3px #ccc;
}
.list-group-item{
	margin-left: 2px;
	margin-bottom: 1px;
}
.list-group a:hover{
	color: red;
	background-color: #ccc;
}
#datetimepicker{
	background-color: #fff;
	padding: 30px;
}
#right-tag{
	background-color: #fff;
	margin-top: 20px;
	padding: 20px;
	box-shadow: 2px 2px 3px #ccc;
}
#tags{
	font-family: 'Microsoft YaHei';
	font-size: 13px;
	color: #888;
}
#tags-title{
	margin-bottom: 20px;
}
.tags-more{
	font-size: 30px;
}
.tags-post{
	font-size: 20px;
}
/*work*/

.hotlist{
	clear: both;
	margin: 20px 0;
}
.hotlist blockquote{
	padding: 0 20px;
}
.hotlist blockquote h2{
	font-size: 18px;
}
.ranking-num{
	font-size: 12px;
	background-color: red;
	border-radius: 50%;
	color: #fff;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	float: left;
}
.ranking-bar-wrap{
	float: left;
	display: inline-block;
	border: 1px solid red;
	width: 120px;
	height: 20px;
	margin: 0 5px;
}
.ranking-bar{
	background-color: red;
	height: 18px;
}
.nav-tabs{
	border: none;
}
.nav-tabs li{
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
}
.nav1{
	border-top: 2px solid red;
}
.nav1:hover{
	border-top-color: blue;
}
.nav2{
	border-top: 2px solid green;
}
.nav2:hover{
	border-top-color: pink;
}
.nav3{
	border-top: 2px solid blue;
}
.nav3:hover{
	border-top-color: red;
}
.nav4{
	border-top: 2px solid pink;
}
.nav4:hover{
	border-top-color: green;
}
.nav5{
	border-top: 2px solid red;
}
.nav5:hover{
	border-top-color: blue;
}
.nav-tabs{
	width: 600px;
}
/*瀑布流*/
.container-fluid {
  padding: 20px;
}
.box {
	float: left;
  	margin-bottom: 20px;
  	width: 260px;
}
.box img {
  max-width: 100%
}
#masonry{
	background-color: #ddd;
}
.box-text{
	padding: 5px;
}
.box-text span{
	margin-top: 40px;
	cursor: pointer;
}
/*about*/
.timeline{
	background-color: #eee;
	padding: 80px 10px;
	clear: both;
	margin-top: 50px;
	position: relative;
}
.timelineleft{
	width: 50%;
	height: 1600px;
	background-color: #fff;
	float: left;
}
.info{
	width: 50%;
	height: 400px;
	border-left: 5px solid #ccc;
	position: relative;
	float: right;
	background-color: #fff;
}
.info img{
	position: absolute;
	border-radius: 50%;
	width: 200px;
	border: 5px solid #ccc;
	left: -100px;
	top: -50px;
}
.info-contact img{
	width: 160px;
	left: -80px;
}
.info-edu img{
	width: 120px;
	left: -60px;
}
.info-tran img{
	width: 80px;
	left: -40px;
}
.info h1{
	position: absolute;
	left: -200px;
	top: 180px;
	font-size: 22px;
	font-weight: bold;
}
.info-name p{
	position: absolute;
	margin-right: 20px;
	left: 100px;
	top: 180px;
	font-size: 14px; 
	line-height: 2;
}
.info-qq{
	position: absolute;
	left: 100px;
	top: 180px;
}
.info-blog{
	position: absolute;
	left: 100px;
	top: 240px;
	margin-right: 10px;
}
.info-blog a:hover{
	color: green;
}
.info-edu-item1{
	position: absolute;
	left: 100px;
	top: 120px;
}.info-edu-item2{
	position: absolute;
	left: 100px;
	top: 220px;
}
.info-tran-item{
	position: absolute;
	left: 100px;
	top: 180px;
}

/*没有小于768px，是因为Bootstrap3以移动端优先设计*/
/* 小屏幕（平板，大于等于768px） */

@media (min-width: 768px) {
	/*index*/
	.caption p{
		font-size: 11px;
	}
	.des{
		margin: 10px;
	}
	/*article*/
	.box {
	  width: 290px;
	}
	/*work*/

}

/* 中等屏幕（桌面显示器，大于等于992px） */
@media (min-width: 992px) {
	/*index*/
	.caption p{
		font-size: 13px;
	}
	.des{
		margin: 10px;
	}
	/*article*/
	#datetimepicker{
		padding: 35px;
	}
	.box {
	  width: 290px;
	}
	.nav-tabs{
		width: 100%;
	}
	/*work*/

}

/* 大屏幕（大桌面显示器，大于等于1200px） */
@media (min-width: 1200px) {
	/*index*/
	.caption p{
		font-size: 15px;
	}
	.des{
		width: 280px;
		margin: 10px;
	}
	/*article*/
	#datetimepicker{
		padding: 25px;
	}
	.box {
	  width: 240px;
	}
	.nav-tabs{
		width: 100%;
	}
	/*work*/

}
@media (max-width: 768px) {
	/*work*/
.info img{
	width: 160px;
	left: -80px;
	top: -50px;
}
.info-contact img{
	width: 120px;
	left: -60px;
}
.info-edu img{
	width: 80px;
	left: -40px;
}
.info-tran img{
	width: 40px;
	left: -20px;
}
.info h1{
	left: -150px;
	top: 120px;
}
.info-name p{
	left: 60px;
}
.info-qq{
	left: 60px;
	top: 80px;
}
.info-blog{
	left: 60px;
	top: 120px;
}
.info-edu-item1{
	left: 60px;
	top: 80px;
}.info-edu-item2{
	left: 60px;
	top: 160px;
}
.info-tran-item{
	left: 60px;
	top: 80px;
}
}